In [1]:
import pandas as pd
import numpy as np

In [2]:
ep = pd.read_csv("master_data_ready.csv")

In [3]:
ep.shape

(200000, 15)

In [4]:
ep.dtypes

job_id          object
vertical        object
company         object
post_date       object
fill_date       object
time_to_fill    object
salary           int64
location        object
city            object
state           object
zip             object
county          object
region_state    object
latitude        object
longitude       object
dtype: object

In [5]:
len(ep.dtypes)

15

In [6]:
ep.columns

Index(['job_id', 'vertical', 'company', 'post_date', 'fill_date',
       'time_to_fill', 'salary', 'location', 'city', 'state', 'zip', 'county',
       'region_state', 'latitude', 'longitude'],
      dtype='object')

In [7]:
ep.head()

,job_id,vertical,company,post_date,fill_date,time_to_fill,salary,location,city,state,zip,county,region_state,latitude,longitude
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,\N,\N,56563,NaN,\N,\N,\N,\N,\N,\N,\N
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,\N,\N,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA",34.236698150634766,-118.5469970703125
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,\N,\N,63761,NaN,\N,\N,\N,\N,\N,\N,\N
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,\N,\N,\N,\N,\N,\N,\N
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA",36.05120086669922,-78.85769653320312

In [8]:
ep = ep.rename(columns={"job_id":"id", "region_state":"region", "post_date":"postDate", "fill_date":"fillDate", "time_to_fill":"timeToFill", "latitude":"lat","longitude":"long"})

In [9]:
ep.dtypes

id            object
vertical      object
company       object
postDate      object
fillDate      object
timeToFill    object
salary         int64
location      object
city          object
state         object
zip           object
county        object
region        object
lat           object
long          object
dtype: object

In [10]:
list(ep)

['id',
 'vertical',
 'company',
 'postDate',
 'fillDate',
 'timeToFill',
 'salary',
 'location',
 'city',
 'state',
 'zip',
 'county',
 'region',
 'lat',
 'long']

In [11]:
ep[list(ep)[1]].value_counts()

Information Technology    200000
Name: vertical, dtype: int64

In [12]:
# PROBLEM 2

In [13]:
ep = ep.replace(r'\\N', np.nan, regex=True)

In [37]:
ep.head()

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region,Lat,Long
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA",34.236698150634766,-118.5469970703125
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA",36.05120086669922,-78.85769653320312

In [41]:
[x.capitalize() for x in ep]

['Id',
 'Vertical',
 'Company',
 'Postdate',
 'Filldate',
 'Timetofill',
 'Salary',
 'Location',
 'City',
 'State',
 'Zip',
 'County',
 'Region',
 'Lat',
 'Long']

In [42]:
ep.columns = [x.capitalize() for x in ep]
ep.dtypes

Id            object
Vertical      object
Company       object
Postdate      object
Filldate      object
Timetofill    object
Salary         int64
Location      object
City          object
State         object
Zip           object
County        object
Region        object
Lat           object
Long          object
dtype: object

In [40]:
ep

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region,Lat,Long
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA",34.236698150634766,-118.5469970703125
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA",36.05120086669922,-78.85769653320312
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37,91550,"Catonsville, MD",Catonsville,MD,21228,Baltimore,"Baltimore-Towson, MD MSA",39.2781982421875,-76.74009704589844
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3,34920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,NaN,56453,"Milwaukee, WI",Milwaukee,WI,53201,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA",43.01129913330078,-87.9583969116211
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8,25369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,NaN,65200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3,21484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,NaN,39125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,NaN,29963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,NaN,37110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",39.6348991394043,-75.69930267333984
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,NaN,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA",37.392398834228516,-121.96199798583984
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9,35570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18,46331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56,99210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,NaN,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601,Wake,"Raleigh-Cary, NC MSA",35.772701263427734,-78.63240051269531
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,NaN,73161,"Bensenville, IL 60106",Bensenville,IL,60106,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA",41.95009994506836,-87.94499969482422
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,NaN,54085,"Greenwich, CT 06831",Greenwich,CT,06831,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA",41.054901123046875,-73.6594009399414
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,NaN,32615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",40.06119918823242,-75.39990234375
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26,54579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,NaN,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA",NaN,NaN
26,24791298532037489164485098613010,Information Technology,NaN,2016-10-07,2016-10-23,16,61981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.912200927734375,-77.0177001953125
28,10668346115240342561513993503594,Information Technology,NaN,2017-05-25,NaN,NaN,79268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,90672556728520029224234442655718,Information Technology,NaN,2017-06-03,NaN,NaN,50035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,371181096109303691922555763336,Information Technology,Market Solutions,2017-08-16,NaN,NaN,36942,"San Marcos, CA 92069",San Marcos,CA,92069,San Diego,"San Diego-Carlsbad-San Marcos, CA MSA",33.14440155029297,-117.16999816894531
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA",38.93259811401367,-77.17060089111328
199972,43584716622459958047583215641177,Information Technology,NaN,2017-04-09,NaN,NaN,82623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199973,36778391369684307450697861629603,Information Technology,NaN,2017-07-06,NaN,NaN,24244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199974,84627086382466223735185772019421,Information Technology,NaN,2017-11-26,NaN,NaN,49033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,NaN,34930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702,Williamson,"Austin-Round Rock, TX MSA",30.2637996673584,-97.71659851074219
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1,73212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,NaN,34693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,NaN,37730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA",NaN,NaN
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N...",40.73749923706055,-73.9813003540039
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,08534,Mercer,"Trenton-Ewing, NJ MSA",40.333900451660156,-74.79440307617188
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4,34033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,NaN,109957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,NaN,88779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,NaN,93508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,NaN,83348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,NaN,51847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1,110425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,NaN,32983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,NaN,61407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,02129,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA",42.37779998779297,-71.06269836425781
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,NaN,41571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20,81997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,NaN,31390,"Temple, TX",Temple,TX,76501,Bell,"Killeen-Temple-Fort Hood, TX MSA",31.089500427246094,-97.33429718017578
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2,35577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11,63093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,NaN,52310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,NaN,54198,"Zeeland, MI",Zeeland,MI,49464,Ottawa,"Holland-Grand Haven, MI MSA",42.825599670410156,-86.0103988647461

In [17]:
#pd.to_numeric(ep, errors='coerce')

In [18]:
#ep['Timetofill'] = pd.to_numeric(ep['Timetofill'], errors='coerce')

In [38]:
ep.apply(pd.to_numeric, errors='ignore').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 15 columns):
Id            200000 non-null object
Vertical      200000 non-null object
Company       89592 non-null object
Postdate      200000 non-null object
Filldate      48882 non-null object
Timetofill    48882 non-null float64
Salary        200000 non-null int64
Location      89270 non-null object
City          87327 non-null object
State         89177 non-null object
Zip           85068 non-null float64
County        85390 non-null object
Region        84408 non-null object
Lat           86405 non-null float64
Long          86405 non-null float64
dtypes: float64(4), int64(1), object(10)
memory usage: 22.9+ MB

In [21]:
ep.columns

Index(['Id', 'Vertical', 'Company', 'Postdate', 'Filldate', 'Timetofill',
       'Salary', 'Location', 'City', 'State', 'Zip', 'County', 'Region', 'Lat',
       'Long'],
      dtype='object')

In [22]:
master_clean = ep.drop(['Lat', 'Long'], axis = 1)

In [23]:
master_clean.head()

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"

In [24]:
master_clean.dtypes

Id            object
Vertical      object
Company       object
Postdate      object
Filldate      object
Timetofill    object
Salary         int64
Location      object
City          object
State         object
Zip           object
County        object
Region        object
dtype: object

In [25]:
master_clean[master_clean['State'] == 'NY']

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
47,37537451312284214352975523963512,Information Technology,AIG,2017-11-17,NaN,NaN,85995,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
71,4667196791289643164323208292672,Information Technology,STR & Associates Staffing Solutions,2017-08-05,NaN,NaN,79099,"Melville, NY",Melville,NY,11747,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,NaN,129057,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
201,894124309792585221392368131845,Information Technology,"Providence House, Inc.",2016-09-30,2016-11-01,32,33920,"Jamaica, NY",Jamaica,NY,11405,Queens,NaN
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,NaN,45799,"Bohemia, NY 11716",Bohemia,NY,11716,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
308,50469534955455002631890344958016,Information Technology,CenterLight Health System,2017-08-16,NaN,NaN,88600,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
315,26626974554550569739436120606642,Information Technology,Domino's,2017-08-25,NaN,NaN,60095,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,NaN,114411,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
350,86033830263392417359471988955876,Information Technology,"VDart, Inc.",2017-01-20,2017-02-08,19,72239,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,NaN,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
394,63999053417238671662217757939290,Information Technology,RBC,2017-12-02,NaN,NaN,115949,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,NaN,32707,"Flushing, NY",Flushing,NY,11351,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,NaN,47493,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,NaN,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
496,28281910618435282437191236328981,Information Technology,Booz Allen Hamilton,2017-08-03,NaN,NaN,66781,"Rome, NY 13441",Rome,NY,13441,Oneida,"Utica-Rome, NY MSA"
563,40535052601334277906198114909626,Information Technology,IPsoft,2017-08-04,NaN,NaN,52039,"New York, NY 10004 (Financial District area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,NaN,46193,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,NaN,92641,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,NaN,150155,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,NaN,66535,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
649,34110253579874588760653664070310,Information Technology,BCT Partners,2017-04-11,NaN,NaN,107948,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,NaN,85418,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
791,78980019753902504001119673885232,Information Technology,"Techlink, Inc.",2017-10-20,NaN,NaN,94756,"New York, NY 10021 (Upper East Side area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
799,24522739576059311446144299489419,Information Technology,Key Bank,2016-08-08,2016-08-13,5,40403,"Kingston, NY",Kingston,NY,12401,Ulster,"Kingston, NY MSA"
842,95573060601027421379453188664431,Information Technology,U.S. Federal Government,2017-08-18,NaN,NaN,155056,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
889,17668794843925826895653091604909,Information Technology,Regus,2017-08-17,NaN,NaN,25091,"Buffalo, NY 14201 (Lakeview area)",Buffalo,NY,14201,Erie,"Buffalo-Niagara Falls, NY MSA"
913,73499714289064712403321533446665,Information Technology,NYU Langone Health,2017-08-16,NaN,NaN,72495,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1020,6579879577842956918184272556325,Information Technology,Westchester Country Club,2017-08-02,NaN,NaN,23522,"Rye, NY 10580",Rye,NY,10580,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198790,7182902984968958935770691881658,Information Technology,M&T Bank,2017-08-16,NaN,NaN,85805,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,NaN,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198893,64105117859025693719749628279775,Information Technology,"AccessCNY, INC",2017-08-24,NaN,NaN,21076,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,NaN,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198993,76838519349352814416085115998413,Information Technology,Essen Health Care,2017-12-07,NaN,NaN,194290,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
199120,40335111517311443765038933058518,Information Technology,"Can-Am Consultants, Inc.",2017-07-14,NaN,NaN,110644,"Corning, NY",Corning,NY,14830,Steuben,NY NONMETROPOLITAN AREA
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,NaN,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,NaN,48790,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,NaN,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,NaN,57784,"Ithaca, NY 14850",Ithaca,NY,14850,Tompkins,"Ithaca, NY MSA"
199253,62663644545236684627395956601,Information Technology,Markit,2016-10-12,2017-02-10,121,88753,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,NaN,123207,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199274,95230073156831179272536916577496,Information Technology,PNW BOCES (Education Services),2017-11-28,NaN,NaN,71809,"Yorktown Heights, NY",Yorktown Heights,NY,10598,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199314,18063597615894155375628884013198,Information Technology,School of Visual Arts,2017-04-12,NaN,NaN,87336,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,NaN,37756,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,NaN,102616,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199460,6642238522896479152152447386785,Information Technology,The New School,2017-07-06,NaN,NaN,56468,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199507,27368134276031595591139696747507,Information Technology,NYU Langone Health,2017-08-09,NaN,NaN,33183,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,NaN,135541,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,NaN,29124,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199595,52769660657311057034654754539421,Information Technology,Maxx Properties,2017-07-29,NaN,NaN,53390,"Harrison, NY",Harrison,NY,10528,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,NaN,93882,"White Plains, NY 10606",White Plains,NY,10606,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,NaN,66564,"Clay, NY 13041",Clay,NY,13041,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,NaN,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,NaN,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199846,9348905253293939860025217013086,Information Technology,New York City Council Race,2017-07-31,NaN,NaN,20360,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199890,8626757373490813865134922784308,Information Technology,Softheon,2017-11-12,NaN,NaN,54791,"Stony Brook, NY 11794",Stony Brook,NY,11794,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."

In [28]:
# master_clean.loc[ () & () ,:]
master_clean.loc[(master_clean['State']=='NY'),:]

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
47,37537451312284214352975523963512,Information Technology,AIG,2017-11-17,NaN,NaN,85995,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
71,4667196791289643164323208292672,Information Technology,STR & Associates Staffing Solutions,2017-08-05,NaN,NaN,79099,"Melville, NY",Melville,NY,11747,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,NaN,129057,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
201,894124309792585221392368131845,Information Technology,"Providence House, Inc.",2016-09-30,2016-11-01,32,33920,"Jamaica, NY",Jamaica,NY,11405,Queens,NaN
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,NaN,45799,"Bohemia, NY 11716",Bohemia,NY,11716,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
308,50469534955455002631890344958016,Information Technology,CenterLight Health System,2017-08-16,NaN,NaN,88600,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
315,26626974554550569739436120606642,Information Technology,Domino's,2017-08-25,NaN,NaN,60095,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,NaN,114411,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
350,86033830263392417359471988955876,Information Technology,"VDart, Inc.",2017-01-20,2017-02-08,19,72239,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,NaN,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
394,63999053417238671662217757939290,Information Technology,RBC,2017-12-02,NaN,NaN,115949,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,NaN,32707,"Flushing, NY",Flushing,NY,11351,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,NaN,47493,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,NaN,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
496,28281910618435282437191236328981,Information Technology,Booz Allen Hamilton,2017-08-03,NaN,NaN,66781,"Rome, NY 13441",Rome,NY,13441,Oneida,"Utica-Rome, NY MSA"
563,40535052601334277906198114909626,Information Technology,IPsoft,2017-08-04,NaN,NaN,52039,"New York, NY 10004 (Financial District area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,NaN,46193,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,NaN,92641,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,NaN,150155,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,NaN,66535,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
649,34110253579874588760653664070310,Information Technology,BCT Partners,2017-04-11,NaN,NaN,107948,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,NaN,85418,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
791,78980019753902504001119673885232,Information Technology,"Techlink, Inc.",2017-10-20,NaN,NaN,94756,"New York, NY 10021 (Upper East Side area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
799,24522739576059311446144299489419,Information Technology,Key Bank,2016-08-08,2016-08-13,5,40403,"Kingston, NY",Kingston,NY,12401,Ulster,"Kingston, NY MSA"
842,95573060601027421379453188664431,Information Technology,U.S. Federal Government,2017-08-18,NaN,NaN,155056,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
889,17668794843925826895653091604909,Information Technology,Regus,2017-08-17,NaN,NaN,25091,"Buffalo, NY 14201 (Lakeview area)",Buffalo,NY,14201,Erie,"Buffalo-Niagara Falls, NY MSA"
913,73499714289064712403321533446665,Information Technology,NYU Langone Health,2017-08-16,NaN,NaN,72495,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1020,6579879577842956918184272556325,Information Technology,Westchester Country Club,2017-08-02,NaN,NaN,23522,"Rye, NY 10580",Rye,NY,10580,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198790,7182902984968958935770691881658,Information Technology,M&T Bank,2017-08-16,NaN,NaN,85805,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,NaN,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198893,64105117859025693719749628279775,Information Technology,"AccessCNY, INC",2017-08-24,NaN,NaN,21076,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,NaN,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198993,76838519349352814416085115998413,Information Technology,Essen Health Care,2017-12-07,NaN,NaN,194290,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
199120,40335111517311443765038933058518,Information Technology,"Can-Am Consultants, Inc.",2017-07-14,NaN,NaN,110644,"Corning, NY",Corning,NY,14830,Steuben,NY NONMETROPOLITAN AREA
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,NaN,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,NaN,48790,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,NaN,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,NaN,57784,"Ithaca, NY 14850",Ithaca,NY,14850,Tompkins,"Ithaca, NY MSA"
199253,62663644545236684627395956601,Information Technology,Markit,2016-10-12,2017-02-10,121,88753,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,NaN,123207,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199274,95230073156831179272536916577496,Information Technology,PNW BOCES (Education Services),2017-11-28,NaN,NaN,71809,"Yorktown Heights, NY",Yorktown Heights,NY,10598,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199314,18063597615894155375628884013198,Information Technology,School of Visual Arts,2017-04-12,NaN,NaN,87336,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,NaN,37756,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,NaN,102616,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199460,6642238522896479152152447386785,Information Technology,The New School,2017-07-06,NaN,NaN,56468,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199507,27368134276031595591139696747507,Information Technology,NYU Langone Health,2017-08-09,NaN,NaN,33183,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,NaN,135541,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,NaN,29124,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199595,52769660657311057034654754539421,Information Technology,Maxx Properties,2017-07-29,NaN,NaN,53390,"Harrison, NY",Harrison,NY,10528,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,NaN,93882,"White Plains, NY 10606",White Plains,NY,10606,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,NaN,66564,"Clay, NY 13041",Clay,NY,13041,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,NaN,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,NaN,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199846,9348905253293939860025217013086,Information Technology,New York City Council Race,2017-07-31,NaN,NaN,20360,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199890,8626757373490813865134922784308,Information Technology,Softheon,2017-11-12,NaN,NaN,54791,"Stony Brook, NY 11794",Stony Brook,NY,11794,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,NaN,169620,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."

In [29]:
master_clean.loc[(master_clean['Postdate'] > '2018'),:]

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,NaN,56453,"Milwaukee, WI",Milwaukee,WI,53201,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA"
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,NaN,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601,Wake,"Raleigh-Cary, NC MSA"
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,NaN,73161,"Bensenville, IL 60106",Bensenville,IL,60106,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,NaN,54085,"Greenwich, CT 06831",Greenwich,CT,06831,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA"
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,NaN,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA"
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
40,9661280239453334742826718781338,Information Technology,LOCKHEED MARTIN CORPORATION,2018-06-13,NaN,NaN,109052,"Hanover, MD 21076",Hanover,MD,21076,Anne Arundel,"Baltimore-Towson, MD MSA"
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
44,69683349444000021294996731549834,Information Technology,Johns Hopkins Hospital/Johns Hopkins Health Sy...,2018-04-20,NaN,NaN,41655,"Baltimore, MD",Baltimore,MD,21201,Baltimore City,"Baltimore-Towson, MD MSA"
46,38100227510752884107576152152946,Information Technology,APEX,2018-05-13,NaN,NaN,77709,"Vienna, VA",Vienna,VA,22180,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
52,17456095606321855079264672066677,Information Technology,Glass Doctor of Western Washington,2018-06-13,NaN,NaN,57220,"Seattle, WA",Seattle,WA,98101,King,NaN
53,7955450235772249401977199367187,Information Technology,Leidos,2018-02-07,NaN,NaN,147166,"Washington, DC 20001 (Shaw area)",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
58,88926415957568310992197676902,Information Technology,Medtronic,2018-01-30,NaN,NaN,78104,"Mounds View, MN",Mounds View,MN,55112,Ramsey,"Minneapolis-St. Paul-Bloomington, MN-WI MSA"
60,95477156868076064760656477610005,Information Technology,"MacAllister Machinery Company, Inc.",2018-07-13,NaN,NaN,45702,"Township of Macomb, MI",Township of Macomb,MI,NaN,NaN,"Detroit-Warren-Livonia, MI MSA"
61,45230337933216733091735774621770,Information Technology,Microsoft,2018-02-06,NaN,NaN,125442,"Redmond, WA 98052",Redmond,WA,98052,King,"Seattle-Tacoma-Bellevue, WA MSA"
66,56510296270784256586124248070936,Information Technology,Saint Joseph Mercy Health System,2018-06-29,2018-09-07,70,37778,"Chelsea, MI 48118",Chelsea,MI,48118,Washtenaw,"Ann Arbor, MI MSA"
72,921664023595400032707958491981,Information Technology,Securitas USA - Shared Services,2018-01-19,NaN,NaN,61450,"Charlotte, NC",Charlotte,NC,28201,Robeson,"Charlotte-Gastonia-Concord, NC-SC MSA"
74,3262171739977197202083790172600,Information Technology,Edwards Aquifier Authority,2018-01-20,NaN,NaN,65023,"San Antonio, TX",San Antonio,TX,78201,Comal,"San Antonio, TX MSA"
75,4480048953484648330217774654946,Information Technology,City of Wichita,2018-01-30,NaN,NaN,58656,"Wichita, KS 67203",Wichita,KS,67203,Sedgwick,"Wichita, KS MSA"
78,5901443272243054841719774130726,Information Technology,Jackson Hewitt,2018-04-19,NaN,NaN,35511,"Sarasota, FL 34232",Sarasota,FL,34232,Sarasota,"Sarasota-Bradenton-Venice, FL MSA"
79,681377002829632837068544453736,Information Technology,Capgemini,2018-07-10,NaN,NaN,89148,"Atlanta, GA",Atlanta,GA,30301,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
90,9721388198305855998876384520627,Information Technology,Mondelez International,2018-03-31,NaN,NaN,46469,"DeSoto, TX 75123",DeSoto,TX,75123,Dallas,"Dallas-Fort Worth-Arlington, TX MSA"
97,43041476419865478080831078081912,Information Technology,"Veterans Affairs, Veterans Health Administration",2018-01-23,NaN,NaN,51178,"Loma Linda, CA",Loma Linda,CA,92350,San Bernardino,"Riverside-San Bernardino-Ontario, CA MSA"
99,72370649464509551514283136361293,Information Technology,BioBridge Global,2018-07-25,NaN,NaN,73964,"San Antonio, TX 78201 (Jefferson-Monticello Pa...",San Antonio,TX,78201,Comal,"San Antonio, TX MSA"
108,10526587741409273912487873201609,Information Technology,General Electric,2018-06-23,NaN,NaN,56125,"Minden, NV 89423",Minden,NV,89423,Douglas,NV NONMETROPOLITAN AREA
111,7322556087579982411331394292574,Information Technology,Kroger General Office,2018-03-08,NaN,NaN,84653,"Blue Ash, OH 45242",Blue Ash,OH,45242,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
113,67896938593777969319816987857458,Information Technology,E.ON Climate and Renewables,2018-07-07,NaN,NaN,92012,"Austin, TX 78701 (Downtown area)",Austin,TX,78701,Williamson,"Austin-Round Rock, TX MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199876,77885548152845904276630767977771,Information Technology,"Behavioral Health Works, Inc.",2018-04-24,NaN,NaN,106131,"Mountain View, CA",Mountain View,CA,94035,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA"
199878,66619403895637004796029871110391,Information Technology,Maxim Healthcare Services,2018-04-09,NaN,NaN,43395,"Chandler, AZ 85224",Chandler,AZ,85224,Maricopa,"Phoenix-Mesa-Scottsdale, AZ MSA"
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199881,56998704510015908401183967054429,Information Technology,Flex,2018-04-03,NaN,NaN,102147,"Farmington Hills, MI",Farmington Hills,MI,48167,Wayne,"Detroit-Warren-Livonia, MI MSA"
199883,3326995720686802362414056060296,Information Technology,GlaxoSmithKline,2018-04-27,NaN,NaN,121152,"Collegeville, PA 19426",Collegeville,PA,19426,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199884,69429066789644448653502395781789,Information Technology,KIPP Foundation,2018-01-23,NaN,NaN,63176,"Chicago, IL 60602 (Loop area)",Chicago,IL,60602,Cook,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199892,85179531664532807672780884279202,Information Technology,University of North Texas: Faculty,2018-02-20,NaN,NaN,68406,"Denton, TX",Denton,TX,76201,Denton,"Dallas-Fort Worth-Arlington, TX MSA"
199893,912125913225353424889932768909,Information Technology,O'Melveny & Myers LLP,2018-04-21,NaN,NaN,90776,"San Francisco, CA",San Francisco,CA,94102,San Mateo,"San Francisco-Oakland-Fremont, CA MSA"
199894,86377572235811335877295423121372,Information Technology,TRAX Test Services,2018-03-16,NaN,NaN,59904,"Yuma Proving Ground, AZ",Yuma Proving Ground,AZ,NaN,NaN,"Yuma, AZ MSA"
199898,67893676636597211461758082108739,Information Technology,JP Morgan Chase,2018-04-07,NaN,NaN,37325,"Austin, TX 78737",Austin,TX,78737,Williamson,"Austin-Round Rock, TX MSA"
199900,75611024286625471647966796410699,Information Technology,Strategic IT Staffing,2018-02-01,NaN,NaN,89573,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199903,20039328342258921101147852379717,Information Technology,Hewlett Packard Enterprise,2018-01-28,NaN,NaN,47990,"Houston, TX",Houston,TX,77001,Harris,"Houston-Sugar Land-Baytown, TX MSA"
199908,55611745814807494056851258400317,Information Technology,Jindal Films,2018-05-17,NaN,NaN,88531,"LaGrange, GA 30240",LaGrange,GA,30240,Troup,GA NONMETROPOLITAN AREA
199913,368548993657932572331935192174,Information Technology,Sanford Health,2018-03-30,NaN,NaN,34319,"Hillsboro, ND 58045",Hillsboro,ND,58045,Traill,ND NONMETROPOLITAN AREA
199916,9801510760285346738141556051039,Information Technology,Supply Chain,2018-06-05,NaN,NaN,44638,"Columbus, OH",Columbus,OH,43085,Franklin,"Columbus, OH MSA"
199931,42645467574831485947934124947265,Information Technology,Leidos,2018-06-17,NaN,NaN,103707,"Shaw AFB, SC 29152",Shaw AFB,SC,29152,Sumter,"Sumter, SC MSA"
199932,46298306566497354435376351819611,Information Technology,Cohesion Consulting & Staffing,2018-04-25,NaN,NaN,114953,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199933,26036769747250149551476953398805,Information Technology,Exela Technologies,2018-06-29,NaN,NaN,111814,NaN,NaN,NaN,NaN,NaN,NaN
199936,3346518471563403538614855461725,Information Technology,Eaton,2018-06-20,NaN,NaN,75433,"Deerfield Beach, FL",Deerfield Beach,FL,33441,Broward,"Miami-Fort Lauderdale-Pompano Beach, FL MSA"
199942,71795638884147902668704368190845,Information Technology,ADVOCATE HEALTH CARE (SYSTEM),2018-04-22,NaN,NaN,44539,"Park Ridge, IL",Park Ridge,IL,60068,Cook,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199946,69913682163795387215664711644625,Information Technology,Northern Arizona University,2018-02-16,NaN,NaN,58443,"Flagstaff, AZ",Flagstaff,AZ,86001,Coconino,"Flagstaff, AZ MSA"
199947,41753187738320624390075298007577,Information Technology,Geometric Americas / HCL Technologies,2018-04-26,NaN,NaN,64734,"Ankeny, IA",Ankeny,IA,50021,Polk,"Des Moines-West Des Moines, IA MSA"
199948,58335632976554331327027273385063,Information Technology,Performant Financial Corporation,2018-07-06,NaN,NaN,38220,"San Angelo, TX",San Angelo,TX,76901,Tom Green,"San Angelo, TX MSA"
199953,16097640182645324302974660355134,Information Technology,Spectrum,2018-06-07,NaN,NaN,109049,"Madison, WI 53774",Madison,WI,53774,Dane,"Madison, WI MSA"
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199958,61340730747224358958999123782650,Information Technology,EarthWalk Communications,2018-01-03,NaN,NaN,72539,"Manassas, VA 20109",Manassas,VA,20109,Manassas Park City,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199967,59727115888834976523614459530230,Information Technology,Department of the Army,2018-02-10,NaN,NaN,80576,"Rock Island, IL",Rock Island,IL,61201,Rock Island,"Davenport-Moline-Rock Island, IA-IL MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702,Williamson,"Austin-Round Rock, TX MSA"
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,NaN,54198,"Zeeland, MI",Zeeland,MI,49464,Ottawa,"Holland-Grand Haven, MI MSA"

In [43]:
master_clean.loc[
    (master_clean['State']=='NY') & 
    (master_clean['Postdate'] > '2018')
    ,:]

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,NaN,129057,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,NaN,45799,"Bohemia, NY 11716",Bohemia,NY,11716,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,NaN,114411,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,NaN,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,NaN,32707,"Flushing, NY",Flushing,NY,11351,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,NaN,47493,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,NaN,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,NaN,46193,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,NaN,92641,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,NaN,150155,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,NaN,66535,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,NaN,85418,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
1104,2696105939387916160564326211846,Information Technology,Glory Global Solutions,2018-04-05,NaN,NaN,42936,"Hamburg, NY",Hamburg,NY,14075,Erie,"Buffalo-Niagara Falls, NY MSA"
1375,58723501807015432733721594581451,Information Technology,Cornell University,2018-03-13,NaN,NaN,59379,New York State,NaN,NY,NaN,NaN,NaN
1440,236521942553036418086001383896,Information Technology,New York Technology Partners,2018-03-16,NaN,NaN,75450,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
1449,415349121354810943135797503470,Information Technology,Columbia University,2018-02-02,NaN,NaN,50956,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1455,89393683620524664208128524249028,Information Technology,Securitas Electronic Security,2018-02-23,NaN,NaN,49626,"Middletown, NY",Middletown,NY,10940,Orange,"Poughkeepsie-Newburgh-Middletown, NY MSA"
1497,542917792728373007665722564775,Information Technology,Icon plc,2018-05-26,NaN,NaN,60934,"Farmingdale, NY",Farmingdale,NY,11735,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
1561,48020264441568927672366851147667,Information Technology,JP Morgan Chase,2018-06-07,NaN,NaN,167967,"New York, NY 10172 (Gramercy area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1572,55157641510439738974694495602806,Information Technology,Harris Corporation,2018-06-20,NaN,NaN,125963,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
1593,9230481372292022845456755852312,Information Technology,AT&T,2018-05-10,NaN,NaN,69704,"Shirley, NY",Shirley,NY,11967,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
1725,2430770416515896965637198734168,Information Technology,Rochester Institute of Technology,2018-03-13,NaN,NaN,53724,"Rochester, NY 14623",Rochester,NY,14623,Monroe,"Rochester, NY MSA"
1814,17800043801809774750475896980863,Information Technology,KLA-Tencor,2018-06-15,NaN,NaN,107731,"Malta, NY",Malta,NY,NaN,NaN,"Albany-Schenectady-Troy, NY MSA"
1929,43618288290019071415467283767645,Information Technology,Marsh,2018-05-04,NaN,NaN,64640,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2064,20058100941873781076259371250836,Information Technology,EGW Personnel,2018-06-01,NaN,NaN,90170,"West Seneca, NY",West Seneca,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
2122,67672646289841954190304222562626,Information Technology,Family Service League,2018-01-06,NaN,NaN,118468,"Huntington, NY",Huntington,NY,11743,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
2149,71766127817365679338445621712580,Information Technology,Société Générale,2018-05-03,NaN,NaN,151989,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2162,79469812433179217818017160947095,Information Technology,Route 4 Auto Group,2018-04-02,NaN,NaN,49189,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197255,18969907972565992937327855096596,Information Technology,Rochester Institute of Technology,2018-03-06,NaN,NaN,44244,"Rochester, NY 14623",Rochester,NY,14623,Monroe,"Rochester, NY MSA"
197361,36046790707551154563521215910714,Information Technology,Trianz,2018-07-24,2018-09-13,51,114279,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197368,8524828046409216745976823376079,Information Technology,Sisters of Charity Hospital - St. Joseph Campus,2018-04-13,NaN,NaN,57930,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
197384,1311719669786119554146956771515,Information Technology,Performance Connectivity Inc.,2018-01-16,NaN,NaN,66164,"Purchase, NY 10577",Purchase,NY,10577,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
197564,50856440832349436360539868322162,Information Technology,IT Consulting,2018-02-23,NaN,NaN,103119,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197880,8847539301471242419300630523660,Information Technology,Pure Storage,2018-04-14,NaN,NaN,148780,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197910,94815303305634576837137950166525,Information Technology,AWS Mechanical,2018-05-05,NaN,NaN,46423,"Queens, NY",Queens,NY,11101,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
197992,50321414282363859021768866379287,Information Technology,RBC,2018-01-17,NaN,NaN,91011,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198024,39041548461717541373412730155378,Information Technology,Landmark Health,2018-05-26,NaN,NaN,172249,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
198189,569146260930962875804765510947,Information Technology,Taboola,2018-07-31,NaN,NaN,64421,"New York, NY 10010 (Gramercy area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198561,7471868774061666461522698576353,Information Technology,CCBQ,2018-03-02,NaN,NaN,53845,"Queens, NY",Queens,NY,11101,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
198603,9818366192349086671944775892514,Information Technology,Capital One,2018-02-28,NaN,NaN,33129,"Long Beach, NY 11561",Long Beach,NY,11561,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
198670,5382799510897294396466316554130,Information Technology,Custom Staffing,2018-02-14,NaN,NaN,93697,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,NaN,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,NaN,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,NaN,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,NaN,48790,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,NaN,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,NaN,57784,"Ithaca, NY 14850",Ithaca,NY,14850,Tompkins,"Ithaca, NY MSA"
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,NaN,123207,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,NaN,37756,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,NaN,102616,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,NaN,135541,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,NaN,29124,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,NaN,93882,"White Plains, NY 10606",White Plains,NY,10606,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,NaN,66564,"Clay, NY 13041",Clay,NY,13041,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,NaN,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,NaN,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."

In [76]:
res = master_clean.loc[
                  (master_clean['State']!='NY') &
                  (master_clean['State']!='CA') &
                  (master_clean['Salary'] > 80000)
                 ,:]
res[res['State'].notna()]

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37,91550,"Catonsville, MD",Catonsville,MD,21228,Baltimore,"Baltimore-Towson, MD MSA"
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
31,92708943921819158278275137368013,Information Technology,zodiac,2016-11-23,NaN,NaN,91097,"Gainesville, TX",Gainesville,TX,76240,Cooke,TX NONMETROPOLITAN AREA
40,9661280239453334742826718781338,Information Technology,LOCKHEED MARTIN CORPORATION,2018-06-13,NaN,NaN,109052,"Hanover, MD 21076",Hanover,MD,21076,Anne Arundel,"Baltimore-Towson, MD MSA"
42,406721259826597271166136103276,Information Technology,Net Health,2017-05-05,NaN,NaN,88408,"Brentwood, TN",Brentwood,TN,37024,Williamson,"Nashville-Davidson-Murfreesboro-Franklin, TN MSA"
53,7955450235772249401977199367187,Information Technology,Leidos,2018-02-07,NaN,NaN,147166,"Washington, DC 20001 (Shaw area)",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
61,45230337933216733091735774621770,Information Technology,Microsoft,2018-02-06,NaN,NaN,125442,"Redmond, WA 98052",Redmond,WA,98052,King,"Seattle-Tacoma-Bellevue, WA MSA"
70,32300234787209199670389747356731,Information Technology,OST,2017-09-17,NaN,NaN,89640,"McLean, VA 22102",Mc Lean,VA,22102,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
79,681377002829632837068544453736,Information Technology,Capgemini,2018-07-10,NaN,NaN,89148,"Atlanta, GA",Atlanta,GA,30301,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
91,2294022611392523687558580960170,Information Technology,Texas A&M University Corpus Christi,2016-10-14,2016-11-20,37,80792,"Corpus Christi, TX",Corpus Christi,TX,78401,Nueces,"Corpus Christi, TX MSA"
98,479846345677436844332805134097,Information Technology,"PGA TOUR, Inc.",2016-11-05,2016-12-05,30,83562,"Ponte Vedra Beach, FL 32082",Ponte Vedra Beach,FL,32082,Saint Johns,"Jacksonville, FL MSA"
106,585290221529020586396558449210,Information Technology,Groupon,2017-01-17,2017-01-18,1,94825,"Hebron, KY 41048",Hebron,KY,41048,Boone,"Cincinnati-Middletown, OH-KY-IN MSA"
111,7322556087579982411331394292574,Information Technology,Kroger General Office,2018-03-08,NaN,NaN,84653,"Blue Ash, OH 45242",Blue Ash,OH,45242,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
113,67896938593777969319816987857458,Information Technology,E.ON Climate and Renewables,2018-07-07,NaN,NaN,92012,"Austin, TX 78701 (Downtown area)",Austin,TX,78701,Williamson,"Austin-Round Rock, TX MSA"
117,97985120333738407291384064447686,Information Technology,"TAD PGS, Inc",2018-02-15,NaN,NaN,107779,"Reston, VA",Reston,VA,20190,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
127,9262822776645422534243596775910,Information Technology,"Everbridge, Inc.",2017-08-15,NaN,NaN,127166,"Burlington, MA",Burlington,MA,01803,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
132,76815795931597383535130997277332,Information Technology,KNF&T Staffing Resources,2018-06-28,NaN,NaN,80215,"Boston, MA 02109 (Central area)",Boston,MA,02109,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
134,32050403263333033551530798576632,Information Technology,Revecent- Electrical Manufacturing,2016-10-27,2016-11-19,23,96597,"Boston, MA",Boston,MA,02108,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
140,841180897139267646091158867550,Information Technology,Larimer County,2017-12-09,NaN,NaN,93925,"Loveland, CO",Loveland,CO,80537,Larimer,"Fort Collins-Loveland, CO MSA"
152,4955411090799012533273354266631,Information Technology,SMART IT People,2017-08-14,NaN,NaN,95795,"Dallas, TX",Dallas,TX,75201,Dallas,"Dallas-Fort Worth-Arlington, TX MSA"
155,590453087687138472210015490856,Information Technology,The Vincit Group,2017-03-14,NaN,NaN,100874,"Chattanooga, TN",Chattanooga,TN,37401,Hamilton,"Chattanooga, TN-GA MSA"
170,2232585180554128357930863730305,Information Technology,Element6 Talent,2018-03-22,NaN,NaN,103950,"Brookfield, WI",Brookfield,WI,53005,Waukesha,"Milwaukee-Waukesha-West Allis, WI MSA"
172,13528279308638411373437076080331,Information Technology,Camber Corporation,2016-10-07,2016-10-15,8,87225,"San Antonio, TX 78216",San Antonio,TX,78216,Comal,"San Antonio, TX MSA"
176,98892870724669616565619510880097,Information Technology,Medtronic,2018-03-24,NaN,NaN,102361,"Philadelphia, PA",Philadelphia,PA,19019,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
178,88821272302728088490022733682714,Information Technology,"Modern Technology Solutions, Inc. (MTSI)",2018-02-23,NaN,NaN,118187,"Tampa, FL",Tampa,FL,33601,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
196,97867142837488402514277774467367,Information Technology,Wells Fargo,2018-04-08,NaN,NaN,93400,South Carolina,NaN,SC,NaN,NaN,NaN
205,93810100216751162694528269701067,Information Technology,"ReqRoute,Inc",2016-12-20,2016-12-21,1,90427,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199811,66644845555063977759745221468072,Information Technology,BNY Mellon,2017-08-22,NaN,NaN,118748,"Jersey City, NJ 07306 (Journal Square area)",Jersey City,NJ,07306,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199817,28189986413015382193773485784060,Information Technology,iMPact Business Group,2017-07-19,NaN,NaN,114348,"Lansing, MI",Lansing,MI,48901,Ingham,NaN
199823,67144701268990983306139084609661,Information Technology,"Wyntec, LLC",2018-05-01,NaN,NaN,103088,"Madison, WI",Madison,WI,53701,Dane,"Madison, WI MSA"
199824,23864138654917115586614382855586,Information Technology,Seneca Resources,2018-02-08,NaN,NaN,110465,"Centreville, VA",Centreville,VA,20120,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199832,48668818823964996597604582690728,Information Technology,Rubius Therapeutics,2018-05-23,NaN,NaN,123239,"Cambridge, MA 02139 (Area IV area)",Cambridge,MA,02139,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
199841,20422894363981492072207094415903,Information Technology,Fiserv,2018-07-01,NaN,NaN,114488,"Bannockburn, IL 60015",Bannockburn,IL,60015,Lake,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199842,991330966318838185426710314825,Information Technology,EY,2017-10-10,NaN,NaN,102753,"Atlanta, GA",Atlanta,GA,30301,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
199849,2931557538817070613863014241943,Information Technology,ToolsGroup Inc.,2017-01-07,NaN,NaN,93532,"Boston, MA",Boston,MA,02108,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199850,52793827212433104783507075445426,Information Technology,APAR Technologies,2017-08-04,NaN,NaN,84619,"Oaks, PA",Oaks,PA,19456,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199851,33721924422733421020094324184691,Information Technology,Sandia National Laboratories,2017-02-10,NaN,NaN,104948,"Albuquerque, NM",Albuquerque,NM,87101,Bernalillo,"Albuquerque, NM MSA"
199858,10743012780908565822524456853657,Information Technology,Lumina Analytics,2018-07-25,NaN,NaN,94807,"Tampa, FL 33602 (Downtown area)",Tampa,FL,33602,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
199873,92803753748390589578403354402993,Information Technology,Nielsen,2018-03-09,NaN,NaN,89791,"Oldsmar, FL",Oldsmar,FL,34677,Pinellas,"Tampa-St. Petersburg-Clearwater, FL"
199881,56998704510015908401183967054429,Information Technology,Flex,2018-04-03,NaN,NaN,102147,"Farmington Hills, MI",Farmington Hills,MI,48167,Wayne,"Detroit-Warren-Livonia, MI MSA"
199883,3326995720686802362414056060296,Information Technology,GlaxoSmithKline,2018-04-27,NaN,NaN,121152,"Collegeville, PA 19426",Collegeville,PA,19426,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199900,75611024286625471647966796410699,Information Technology,Strategic IT Staffing,2018-02-01,NaN,NaN,89573,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199906,48567356716758431267715048358223,Information Technology,DXC Technology,2017-05-04,NaN,NaN,96727,"Fort Meade, MD",Fort Meade,MD,20755,Anne Arundel,"Baltimore-Towson, MD MSA"
199908,55611745814807494056851258400317,Information Technology,Jindal Films,2018-05-17,NaN,NaN,88531,"LaGrange, GA 30240",LaGrange,GA,30240,Troup,GA NONMETROPOLITAN AREA
199911,5240714260723471463959794980949,Information Technology,TriQuest Business Services,2016-10-26,2017-01-24,90,148462,"San Antonio, TX",San Antonio,TX,78201,Comal,"San Antonio, TX MSA"
199927,36014695188139188602550873685790,Information Technology,"Vistex, Inc",2017-05-28,NaN,NaN,90597,"Hoffman Estates, IL 60169",Hoffman Estates,IL,60169,Cook,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199928,10352428307047742246659020218630,Information Technology,Compass Group USA,2017-08-17,NaN,NaN,101567,"Charlotte, NC",Charlotte,NC,28201,Robeson,"Charlotte-Gastonia-Concord, NC-SC MSA"
199931,42645467574831485947934124947265,Information Technology,Leidos,2018-06-17,NaN,NaN,103707,"Shaw AFB, SC 29152",Shaw AFB,SC,29152,Sumter,"Sumter, SC MSA"
199932,46298306566497354435376351819611,Information Technology,Cohesion Consulting & Staffing,2018-04-25,NaN,NaN,114953,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199937,71150182893657383337814698793519,Information Technology,"PSI-ProTech Solutions, Inc.",2017-04-20,NaN,NaN,96530,"Dover, DE",Dover,DE,19901,Kent,"Dover, DE MSA"
199939,21611034267202896876834663680868,Information Technology,Customer Value Partners,2017-07-27,NaN,NaN,110200,"Columbia, MD",Columbia,MD,21044,Howard,"Baltimore-Towson, MD MSA"
199953,16097640182645324302974660355134,Information Technology,Spectrum,2018-06-07,NaN,NaN,109049,"Madison, WI 53774",Madison,WI,53774,Dane,"Madison, WI MSA"
199967,59727115888834976523614459530230,Information Technology,Department of the Army,2018-02-10,NaN,NaN,80576,"Rock Island, IL",Rock Island,IL,61201,Rock Island,"Davenport-Moline-Rock Island, IA-IL MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702,Williamson,"Austin-Round Rock, TX MSA"
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,08534,Mercer,"Trenton-Ewing, NJ MSA"
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,02129,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"

In [78]:
master_clean.median()['Timetofill']

12.0

In [74]:
master_clean.head()

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,NaN,56563,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,NaN,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,NaN,63761,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"

In [82]:
master_clean['Timetofill'] = master_clean['Timetofill'].fillna(value = 12.0)
master_clean

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
0,20198581751789701529910950958638,Information Technology,NaN,2017-07-02,NaN,12,56563,NaN,NaN,NaN,NaN,NaN,NaN
1,8895868916034283132954081837418,Information Technology,Medtronic,2018-04-20,NaN,12,98222,"Northridge, CA",Northridge,CA,91324,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
2,1519847330480116680516242585467,Information Technology,NaN,2017-08-01,NaN,12,63761,NaN,NaN,NaN,NaN,NaN,NaN
3,92511853348028679647877877985294,Information Technology,NaN,2016-08-27,2016-08-30,3,54231,NaN,NaN,NaN,NaN,NaN,NaN
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37,91550,"Catonsville, MD",Catonsville,MD,21228,Baltimore,"Baltimore-Towson, MD MSA"
6,67959912699822604603156520211049,Information Technology,NaN,2017-03-18,2017-03-21,3,34920,NaN,NaN,NaN,NaN,NaN,NaN
7,62960553541696238196645947323426,Information Technology,Rockwell Automation,2018-04-26,NaN,12,56453,"Milwaukee, WI",Milwaukee,WI,53201,Milwaukee,"Milwaukee-Waukesha-West Allis, WI MSA"
8,90717759116185198593932094841046,Information Technology,NaN,2016-09-09,2016-09-17,8,25369,NaN,NaN,NaN,NaN,NaN,NaN
9,16387272974132263790431897281915,Information Technology,NaN,2017-12-19,NaN,12,65200,NaN,NaN,NaN,NaN,NaN,NaN
10,72696625716373834009704285573063,Information Technology,NaN,2016-08-12,2016-08-15,3,21484,NaN,NaN,NaN,NaN,NaN,NaN
11,7574193811517788303631671726249,Information Technology,NaN,2017-08-13,NaN,12,39125,NaN,NaN,NaN,NaN,NaN,NaN
12,9522301324327623359690770686252,Information Technology,NaN,2017-11-15,NaN,12,29963,NaN,NaN,NaN,NaN,NaN,NaN
13,52640544511439669779820035559105,Information Technology,NaN,2017-04-26,NaN,12,37110,NaN,NaN,NaN,NaN,NaN,NaN
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,12,109380,"Newark, DE",Newark,DE,19702,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
15,85635281146142691616550336984711,Information Technology,ServiceNow,2017-07-29,NaN,12,109559,"Santa Clara, CA 95054",Santa Clara,CA,95054,Santa Clara,"San Jose-Sunnyvale-Santa Clara, CA MSA"
16,36427049711811154662443019578810,Information Technology,NaN,2017-02-08,2017-02-17,9,35570,NaN,NaN,NaN,NaN,NaN,NaN
17,58020764313673938277467619771204,Information Technology,NaN,2016-10-25,2016-11-12,18,46331,NaN,NaN,NaN,NaN,NaN,NaN
18,50531993933463581513581395639994,Information Technology,NaN,2016-10-13,2016-12-08,56,99210,NaN,NaN,NaN,NaN,NaN,NaN
19,3279253277042684868358283051090,Information Technology,WakeMed,2018-07-20,NaN,12,36773,"Raleigh, NC 27601 (Central area)",Raleigh,NC,27601,Wake,"Raleigh-Cary, NC MSA"
20,54747967645865705868895399685056,Information Technology,KDDI America,2018-07-21,NaN,12,73161,"Bensenville, IL 60106",Bensenville,IL,60106,DuPage,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
21,22358427127369679660955944836895,Information Technology,XPO Logistics,2018-01-06,NaN,12,54085,"Greenwich, CT 06831",Greenwich,CT,06831,Fairfield,"Bridgeport-Stamford-Norwalk, CT MSA"
22,3435580337268334832742644566321,Information Technology,NaN,2017-06-23,NaN,12,32615,NaN,NaN,NaN,NaN,NaN,NaN
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,12,114036,"Wayne, PA 19087",Wayne,PA,19087,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
24,59205128926440418560482250091992,Information Technology,NaN,2017-01-20,2017-02-15,26,54579,NaN,NaN,NaN,NaN,NaN,NaN
25,9364549817951517882109290250914,Information Technology,The Plastek Group,2018-05-05,NaN,12,59377,"Erie County, PA",Erie County,PA,NaN,Erie,"Erie, PA MSA"
26,24791298532037489164485098613010,Information Technology,NaN,2016-10-07,2016-10-23,16,61981,NaN,NaN,NaN,NaN,NaN,NaN
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,12,151934,"Washington, DC",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
28,10668346115240342561513993503594,Information Technology,NaN,2017-05-25,NaN,12,79268,NaN,NaN,NaN,NaN,NaN,NaN
29,90672556728520029224234442655718,Information Technology,NaN,2017-06-03,NaN,12,50035,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,371181096109303691922555763336,Information Technology,Market Solutions,2017-08-16,NaN,12,36942,"San Marcos, CA 92069",San Marcos,CA,92069,San Diego,"San Diego-Carlsbad-San Marcos, CA MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,12,81475,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199972,43584716622459958047583215641177,Information Technology,NaN,2017-04-09,NaN,12,82623,NaN,NaN,NaN,NaN,NaN,NaN
199973,36778391369684307450697861629603,Information Technology,NaN,2017-07-06,NaN,12,24244,NaN,NaN,NaN,NaN,NaN,NaN
199974,84627086382466223735185772019421,Information Technology,NaN,2017-11-26,NaN,12,49033,NaN,NaN,NaN,NaN,NaN,NaN
199975,48041536241494217662250110664243,Information Technology,NaN,2017-12-13,NaN,12,34930,NaN,NaN,NaN,NaN,NaN,NaN
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,12,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702,Williamson,"Austin-Round Rock, TX MSA"
199977,5326123493516782780021258450715,Information Technology,NaN,2016-08-21,2016-08-22,1,73212,NaN,NaN,NaN,NaN,NaN,NaN
199978,68852945689125823800407883282647,Information Technology,NaN,2017-08-01,NaN,12,34693,NaN,NaN,NaN,NaN,NaN,NaN
199979,240100362157077358238131440676,Information Technology,NaN,2017-03-02,NaN,12,37730,NaN,NaN,NaN,NaN,NaN,NaN
199980,46456241379591785042717238258330,Information Technology,Osawatomie State Hospital,2016-10-28,2016-11-08,11,51821,"Miami County, KS",Miami County,KS,NaN,Miami,"Kansas City, MO-KS MSA"
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,12,169620,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,12,108568,"Pennington, NJ",Pennington,NJ,08534,Mercer,"Trenton-Ewing, NJ MSA"
199983,18256672733125291179263139025573,Information Technology,NaN,2016-08-09,2016-08-13,4,34033,NaN,NaN,NaN,NaN,NaN,NaN
199984,597499738167314929115828559698,Information Technology,NaN,2017-06-24,NaN,12,109957,NaN,NaN,NaN,NaN,NaN,NaN
199985,15451008755759513152673330905817,Information Technology,NaN,2017-10-27,NaN,12,88779,NaN,NaN,NaN,NaN,NaN,NaN
199986,5994888770269885528828055360439,Information Technology,NaN,2017-06-17,NaN,12,93508,NaN,NaN,NaN,NaN,NaN,NaN
199987,10937360886054861021535485260314,Information Technology,NaN,2017-08-23,NaN,12,83348,NaN,NaN,NaN,NaN,NaN,NaN
199988,95655511224966172551655560092927,Information Technology,NaN,2017-11-21,NaN,12,51847,NaN,NaN,NaN,NaN,NaN,NaN
199989,2391497439296090247355335789396,Information Technology,NaN,2017-02-11,2017-02-12,1,110425,NaN,NaN,NaN,NaN,NaN,NaN
199990,54740386563337431744756318236586,Information Technology,NaN,2017-08-01,NaN,12,32983,NaN,NaN,NaN,NaN,NaN,NaN
199991,38840246394914738093663286208743,Information Technology,NaN,2017-08-23,NaN,12,61407,NaN,NaN,NaN,NaN,NaN,NaN
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,12,112054,"Charlestown, MA",Charlestown,MA,02129,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199993,18142173134022071258452022715982,Information Technology,NaN,2017-06-22,NaN,12,41571,NaN,NaN,NaN,NaN,NaN,NaN
199994,7582635210983816274400284248693,Information Technology,NaN,2016-10-16,2016-11-05,20,81997,NaN,NaN,NaN,NaN,NaN,NaN
199995,38923387818708609258414117308129,Information Technology,Texell Credit Union,2017-08-19,NaN,12,31390,"Temple, TX",Temple,TX,76501,Bell,"Killeen-Temple-Fort Hood, TX MSA"
199996,8788226920167453371905092545016,Information Technology,NaN,2016-08-20,2016-08-22,2,35577,NaN,NaN,NaN,NaN,NaN,NaN
199997,61567935302046286631933940982813,Information Technology,NaN,2016-08-09,2016-08-20,11,63093,NaN,NaN,NaN,NaN,NaN,NaN
199998,595605368318281629098660959447,Information Technology,NaN,2017-08-01,NaN,12,52310,NaN,NaN,NaN,NaN,NaN,NaN
199999,55924279967430601594246389483139,Information Technology,Alta Equipment,2018-04-27,NaN,12,54198,"Zeeland, MI",Zeeland,MI,49464,Ottawa,"Holland-Grand Haven, MI MSA"

In [90]:
master_clean[master_clean['State'] == 'NJ'][['Company', 'Postdate', 'Salary']].dropna()

                                                 Company    Postdate  Salary
248                                           Siemens AG  2018-03-21  117154
347                                        Stefanini Inc  2017-01-25  104023
425              On The Border Mexican Grill and Cantina  2017-08-02   17115
474                                                Ricoh  2018-03-15   39479
545                                           BNY Mellon  2016-10-28  104219
634                                       NFI Industries  2018-04-14   81348
724                                    Quest Diagnostics  2017-08-29   36549
833                                    Bed Bath & Beyond  2018-01-18  123018
916                                       APN Consulting  2018-07-17  109966
965                      Stewart's All American | Walker  2017-08-18   35169
974                           Partner's Consulting, Inc.  2017-01-19   86999
1035                              Mondelez International  2018-02-18   97201
1125                          Youth Consultation Service  2018-01-29   21086
1195                                  Bartlett Dairy Inc  2017-08-02   26575
1315             General Dynamics Information Technology  2018-07-11   73125
1334                                            Best Buy  2017-08-03   23932
1347                                           iconectiv  2016-08-20  116220
1522                          Cooper University Hospital  2018-07-04  133500
1541                                                KPMG  2018-02-17   82905
1568                               Hired by Matrix, Inc.  2017-08-17  102786
1688                                            Goodyear  2018-07-11   43320
1760                                              Leidos  2017-03-01   70362
1943                                       JCC Metrowest  2017-04-11   32516
2202                               Otsuka Pharmaceutical  2016-11-09   98599
2305                                      TSR Consulting  2017-08-29  101261
2428                     Open Systems Technologies, Inc.  2017-07-18   93779
2637                       Platinum Acorn solutions, LLC  2017-10-13  128767
2669                             Veterans Sourcing Group  2017-08-24   69115
2695                                          BNY Mellon  2018-03-09  107369
2718                                       Deutsche Bank  2016-09-02  116480
...                                                  ...         ...     ...
198182                     SHI International Corporation  2016-09-07  113373
198298                                      Ralph Lauren  2018-03-16  140397
198334                                         WALGREENS  2017-12-19   56739
198391                               Scarinci Hollenbeck  2018-02-06   48119
198562                                        ELLKAY LLC  2018-02-07  129393
198581                    St. Joseph's Healthcare System  2016-08-24   68675
198601                                Aftermath Services  2017-08-05   31845
198618                               Answer Human Assets  2018-01-29   69081
198624                               Smartlink, LLC (HQ)  2017-08-11  118550
198731                                   The Forum Group  2016-12-03   93696
198843                                Plastic Executives  2017-08-18  129917
198888                    Pinnacle Treatment Center KY-I  2018-03-23   43091
199019                New Jersey Institute of Technology  2018-05-03   68467
199023                                    ACT-Consulting  2017-05-31   88835
199060                             Smith Arnold Partners  2018-04-17   86318
199151                                         PDDN INC.  2017-08-15  164738
199184                                   JP Morgan Chase  2017-09-18  124990
199202                                              Citi  2018-02-22   95004
199226                                   Lockheed Martin  2018-05-01  110064
199271                              Integra LifeSciences  2018-06-04  127740
199319  Veterans Affairs, Veterans Health Administration  2018-01-25   51761
199377                                IDEXX Laboratories  2017-07-27   28329
199470                                       BNP Paribas  2018-01-29  146352
199474                       George Hildebrandt Trucking  2018-05-10   78352
199563                                              PSEG  2017-05-17  107233
199654                                     Bartech Group  2018-03-28  109679
199715                                      Forbes Media  2018-04-17   67176
199720           Infinity, a Stamford Technology Company  2017-01-25   98988
199811                                        BNY Mellon  2017-08-22  118748
199982                  Nesher Pharmaceuticals (USA) LLC  2017-06-14  108568

[2517 rows x 3 columns]

In [91]:
master_clean[master_clean['State'] == 'NY']

,Id,Vertical,Company,Postdate,Filldate,Timetofill,Salary,Location,City,State,Zip,County,Region
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,12,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
47,37537451312284214352975523963512,Information Technology,AIG,2017-11-17,NaN,12,85995,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,12,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
71,4667196791289643164323208292672,Information Technology,STR & Associates Staffing Solutions,2017-08-05,NaN,12,79099,"Melville, NY",Melville,NY,11747,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,12,129057,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
201,894124309792585221392368131845,Information Technology,"Providence House, Inc.",2016-09-30,2016-11-01,32,33920,"Jamaica, NY",Jamaica,NY,11405,Queens,NaN
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,12,45799,"Bohemia, NY 11716",Bohemia,NY,11716,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
308,50469534955455002631890344958016,Information Technology,CenterLight Health System,2017-08-16,NaN,12,88600,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
315,26626974554550569739436120606642,Information Technology,Domino's,2017-08-25,NaN,12,60095,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,12,114411,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
350,86033830263392417359471988955876,Information Technology,"VDart, Inc.",2017-01-20,2017-02-08,19,72239,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,12,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
394,63999053417238671662217757939290,Information Technology,RBC,2017-12-02,NaN,12,115949,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,12,32707,"Flushing, NY",Flushing,NY,11351,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,12,47493,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,12,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
496,28281910618435282437191236328981,Information Technology,Booz Allen Hamilton,2017-08-03,NaN,12,66781,"Rome, NY 13441",Rome,NY,13441,Oneida,"Utica-Rome, NY MSA"
563,40535052601334277906198114909626,Information Technology,IPsoft,2017-08-04,NaN,12,52039,"New York, NY 10004 (Financial District area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,12,46193,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,12,92641,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,12,150155,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,12,66535,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
649,34110253579874588760653664070310,Information Technology,BCT Partners,2017-04-11,NaN,12,107948,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,12,85418,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
791,78980019753902504001119673885232,Information Technology,"Techlink, Inc.",2017-10-20,NaN,12,94756,"New York, NY 10021 (Upper East Side area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
799,24522739576059311446144299489419,Information Technology,Key Bank,2016-08-08,2016-08-13,5,40403,"Kingston, NY",Kingston,NY,12401,Ulster,"Kingston, NY MSA"
842,95573060601027421379453188664431,Information Technology,U.S. Federal Government,2017-08-18,NaN,12,155056,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
889,17668794843925826895653091604909,Information Technology,Regus,2017-08-17,NaN,12,25091,"Buffalo, NY 14201 (Lakeview area)",Buffalo,NY,14201,Erie,"Buffalo-Niagara Falls, NY MSA"
913,73499714289064712403321533446665,Information Technology,NYU Langone Health,2017-08-16,NaN,12,72495,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1020,6579879577842956918184272556325,Information Technology,Westchester Country Club,2017-08-02,NaN,12,23522,"Rye, NY 10580",Rye,NY,10580,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198790,7182902984968958935770691881658,Information Technology,M&T Bank,2017-08-16,NaN,12,85805,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,12,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198893,64105117859025693719749628279775,Information Technology,"AccessCNY, INC",2017-08-24,NaN,12,21076,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,12,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198993,76838519349352814416085115998413,Information Technology,Essen Health Care,2017-12-07,NaN,12,194290,"Bronx, NY",Bronx,NY,10451,Bronx,NaN
199120,40335111517311443765038933058518,Information Technology,"Can-Am Consultants, Inc.",2017-07-14,NaN,12,110644,"Corning, NY",Corning,NY,14830,Steuben,NY NONMETROPOLITAN AREA
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,12,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,12,48790,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,12,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,12,57784,"Ithaca, NY 14850",Ithaca,NY,14850,Tompkins,"Ithaca, NY MSA"
199253,62663644545236684627395956601,Information Technology,Markit,2016-10-12,2017-02-10,121,88753,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,12,123207,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199274,95230073156831179272536916577496,Information Technology,PNW BOCES (Education Services),2017-11-28,NaN,12,71809,"Yorktown Heights, NY",Yorktown Heights,NY,10598,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199314,18063597615894155375628884013198,Information Technology,School of Visual Arts,2017-04-12,NaN,12,87336,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,12,37756,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,12,102616,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199460,6642238522896479152152447386785,Information Technology,The New School,2017-07-06,NaN,12,56468,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199507,27368134276031595591139696747507,Information Technology,NYU Langone Health,2017-08-09,NaN,12,33183,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,12,135541,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,12,29124,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199595,52769660657311057034654754539421,Information Technology,Maxx Properties,2017-07-29,NaN,12,53390,"Harrison, NY",Harrison,NY,10528,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,12,93882,"White Plains, NY 10606",White Plains,NY,10606,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,12,66564,"Clay, NY 13041",Clay,NY,13041,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,12,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,12,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199846,9348905253293939860025217013086,Information Technology,New York City Council Race,2017-07-31,NaN,12,20360,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,12,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199890,8626757373490813865134922784308,Information Technology,Softheon,2017-11-12,NaN,12,54791,"Stony Brook, NY 11794",Stony Brook,NY,11794,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,12,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199981,4001013685275695634806875913258,Information Technology,Sidewalk Labs,2017-08-19,NaN,12,169620,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."